.home {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.home div {
  padding: 5px;
}

.home .home__praise-search {
  flex-grow: 1;
  min-width: 200px;
  max-width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home .home__praise-list {
  flex-grow: 1;
  width: 350px;
  height: 100%;
}

.home .home__current-praise {
  flex-grow: 2;
}