.slide_show {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide_show h1 {
  font-size: 2vw;
}

.slide_show .content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide_show:focus {
  outline: none;
}

.slide_verse {
  font-size: 2vw;
  line-height: 5vw;

  height: 100%;
  
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  animation: fadeIn 1.5s;
}

.slide_verse_hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.chave-bis, 
.chave-bis-small,
.chave-bis-no-final,
.chave-2x,
.chave-3x,
.chave-4x,
.chave-5x,
.chave-6x,
.chave-2x-small,
.chave-3x-small,
.chave-4x-small,
.chave-5x-small,
.chave-6x-small {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-right: 1.5px solid yellow;
  border-radius: 15px;
}

.chave-bis::after, 
.chave-bis-small::after {
  content: "bis";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

.chave-bis-no-final::after {
  content: "bis no final";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

.chave-2x::after, .chave-2x-small::after {
  content: "2x";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

.chave-3x::after, .chave-3x-small::after {
  content: "3x";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

.chave-4x::after, .chave-4x-small::after {
  content: "4x";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

.chave-5x::after, .chave-5x-small::after {
  content: "5x";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

.chave-6x::after, .chave-6x-small::after {
  content: "6x";
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);

  font-style: italic;
  font-size: 2.5vw;
  color: yellow;
}

blockquote.chave-bis, 
blockquote.chave-bis-small,
blockquote.chave-bis-no-final,
blockquote.chave-2x,
blockquote.chave-3x,
blockquote.chave-4x,
blockquote.chave-5x,
blockquote.chave-6x,
blockquote.chave-2x-small,
blockquote.chave-3x-small,
blockquote.chave-4x-small,
blockquote.chave-5x-small,
blockquote.chave-6x-small {
  margin: 0px 0px;
}