.sidebar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px; 
  padding-inline-start: 0px;

  width: 50px;
}

.sidebar__menu li {
  position: relative;
  font-size: 35px;
  padding-top: 13px;
  cursor: pointer;

  transition: color 0.2s ease-in-out;
}

.sidebar__menu > .active::after {
  position: absolute;
  content: " ";
  height: 5px;
  width: 10px;
  border-radius: 5px;
  background-color: #5fc2f4;

  bottom: 2px;
  left: calc(50% - 5px)
}

.sidebar__menu > li:hover {
  color: #5fc2f4;
}