html {
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(3, 0, 64) 0%, rgba(12,12,163,1) 29%, rgba(8,34,51,1) 100%);
    color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hide_overflow {
    overflow: hidden;
}