@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #023047;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.app {
  display: flex;
}

.presentation_theme {
  background: linear-gradient(90deg, rgb(3, 0, 64) 0%, rgba(12,12,163,1) 29%, rgba(8,34,51,1) 100%);
  color: white;
}

.hide_overflow {
  overflow: hidden;
}

.input, .select, .text_area {
  background-color: rgb(248, 248, 248);
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  border: transparent;
  transition: border ease-in-out 0.5s;
}

.input_full_width {
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  position: relative;
  cursor: pointer;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 5px;
  border: 0px solid;
  color: #023047;
  vertical-align: middle;
}

.button:disabled {
  background-color: #f7f7f7;
  color: #92999e;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: #f7f7f7;
  cursor: not-allowed;
}

button.button {
  font-family : inherit;
  font-size: 0.8em;
}

.button-primary {
  background-color: #a8c0c5;
  transition: background-color ease-in-out 0.5s
}

.button-primary:hover {
  background-color: #d5e5e5;
}

.button-light {
  background-color: #d0dee0;
  transition: background-color ease-in-out 0.5s
}

.button-light:hover {
  background-color: #e2edef;
}

.bg-white {
  background-color: white;
}